body{
    background-color: rosybrown;
    color: white;
}

#produtos{
    max-width: 100%;
    margin: 0 auto;
    padding: 2%;
    display: flex;
    margin-left: 0%;
    margin-top: 3%;
    border-radius: 10px;
    background-color: rosybrown;

}

#carrinho{
    max-width: 100%;
    margin: 0 auto;
    padding: 2%;
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    border-radius: 10px;
}

.produto-single{
    width: 33%;
    padding: 0.5px;
}

#txt-carrinho{
    margin-left: 0%;
}

#lover-store{
    text-align: center;
}

#finish{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}